* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.img-container img {
  width: 50rem;
  height: 50rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  min-height: 34rem;
}

.insta-logo {
  height: 3rem;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}

.content-profile {
  min-height: 19rem;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 6rem;
}

.profile-photo img {
  width: 100%;
}

.login {
  background-color: #0095f6;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.remove_acc {
  color: #0095f6;
  margin-top: 1rem;
}

.content-signup p {
  color: rgb(160, 160, 160);
}

.content-signup p span {
  color: #0095f6;
}

.content-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.app-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app_link {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-container a:nth-child(1) {
  background-image: url("./img/apple_store.png");
}

.app-container a:nth-child(2) {
  background-image: url("./img/gplay.png");
}
